@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  display:flex;
  gap:16px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: slategray;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.buttons button{
  padding: 8px 16px;
}
.footer, .header{
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.footer{
  background-color: gainsboro;
}